.CreateReviewModal {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid rgb(28, 50, 146);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: auto;
    height: auto;
}

.ReviewTitle {
    text-align: center;
}

.ReviewTextDiv {
    align-self: center;
    width: 100%;
    margin-top: 10px;
}

.CreateReviewTextarea {
    width: 280px;
    height: 120px;
    box-sizing: border-box;
    margin-right: 80px;
}

.CreateReviewSubmitButtonDiv {
    margin-bottom: 20px;
    margin-left: 30px;
}

.CreateReviewSubmitButton {
    width: 200px;
    height: 30px;
    text-align: center;
    align-self: center;
}

.CreateReviewStarRatingDiv {
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.CreateReviewStarP {
    font-size: 20px;
    text-align: center;
    margin-right: 60px
}

.ReviewFormStar {
    font-size: 24px;
    color: rgb(30, 178, 197);
    cursor: pointer;
}

.ReviewFormStar.selected {
    color: rgb(30, 178, 197);
}

.starsError {
    text-align: center;
    margin-right: 80px;
}
