
.CreateFormDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin: 0 auto; /* Optional: To center horizontally within the parent container */
    margin-left: 25%;
    margin-right: 25%;
}

form {
    width: 350px;
}

  /* .CreateForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 480px;
} */

.CreateForm .CreateFormField {
    /* margin-top: 10px; */
    width: 300px;
    text-align: left;
    display: block;
}



.CreateFormIntro {
    text-align: left;
    margin-bottom: 20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.CreateFormField {
    /* padding: 10px; */
    margin-top: 10px;
    width: 100%;
    height: 16px;
    text-align: left;
}

.CreateCity {

}

.CreateState {
    width: 150px;
    height: 22px;
    font-size: 16px;
    margin-top: 10px;
}

.StateLabel {
    margin-left: 140px;
}

.CreateCityStateSpan {
    display: flex;
    flex-direction: row;
}

.CreateCity {
    width: 140px;
}

.CreateLatLngSpan {
    display: flex;
    flex-direction: row;
}

.LngLabel {
    margin-left: 120px;
}

.CreateLat {
    width: 140px;
}

.CreateLng {
    width: 140px;
}

.CreateDescription {
    height: 100px;
    width: 100
}

.CreateDescription {
    height: 100px;
    margin-left: 16px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

.CreateFormGroup {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px;  */
}

.CreateFormGroup label {
    display: block;
}

.CreateFormGroupBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.CreateImageURLField {
    margin-bottom: 10px;
    width: 500px;
    margin-left: 50px;
}

.CreateImageInputsDiv {
    display: flex;
    align-self: center;
}

.CreateSubmitButtonDiv {
    text-align: center;
    margin-bottom: 20px;
}

.CreateSubmitButton {
    width: 300px;
    height: 40px;
    margin-top: 20px;
}

.CreateFormErrors {
  color: red;
}
