
.CreateFormDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

  .CreateForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 480px;
}


.CreateFormIntro {
    text-align: left;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 26%;
    margin-right: 25%
}

.CreateFormField {
    /* padding: 10px; */
    margin-top: 10px;
    width: 300px;
    justify-content: center;
    text-align: center;
    height: 16px;
}

.CreateLat {

}



.CreateCity {
    width: 160px;
}

.CreateState {
    width: 160px;
    height: 40px;
    font-size: 16px;
}

.CreateCityStateSpan {
    display: flex;
    flex-direction: row;
}

.CreateDescription {
    height: 50px
}

label {
    font-weight: bold;
}

.CreateFormGroup {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px;  */
}

.CreateFormGroup label {
    display: block;
}

.CreateFormGroupBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.CreateImageURLField {
    margin-bottom: 10px;
    width: 100%;
}

.CreateSubmitButtonDiv {
    align-self: center;
}

.CreateFormErrors {
  color: red;
}
