
.spot-form-div {
    width: 50%;
    margin: 0 auto;
}

  .spot-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }


.form-intro {
    text-align: left;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 26%;
    margin-right: 25%
}

.form-field {
    padding: 10px;
    margin-top: 10px; /* Add some spacing between form fields */
}

label {
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px;  */
}

.form-group label {
    display: block;
}

.form-group-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.image-url-field {
    margin-bottom: 10px;
}

.CreateFormErrors {
  color: red;
}

@media (max-width: 768px) {
    .spot-form-div {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
