.customSpotCardDiv {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.customSpotImg {
    width: 220px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.customStarImg {
    width: 10px;
    height: 10px;
}

.CurrentCreateSpotButton {
    color: white;
    background-color: rgb(113, 69, 184);
    margin-left: -2px;
    height: 30px;
}

.CurrentTitleCreateButtonDiv {
    margin-left: 32px;
}

.spotCardGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.customSpotLocationRatingDiv {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customPrice {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline;
    width: 100px;
}

.customPerNight {
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline;
    width: 100px;
}

.updateDeleteButtonsDiv {
    margin-top: 50px;
}

.DeleteButton {
    margin-top: 10px;
}

.CurrentButtons {
    width: 70px;
    margin: 1.5px;
    padding: 0px;
    margin-top: 20px;
    height: 25px;
}

.CurrentNoProperties {
    margin-left: 30px;
}

.CurrentLoading {
    margin-left: 30px;
}
