.customSpotCardDiv {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px;
    padding-top: 20px;
    cursor: pointer;
}

.customSpotImg {
    width: 220px;
    height: 200px;
    border-radius: 10px;
}

.customStarImg {
    width: 10px;
    height: 10px;
}

.CurrentCreateSpotButton {
    color: white;
    background-color: rgb(113, 69, 184);
    margin-left: -2px;
}

.CurrentTitleCreateButtonDiv {
    margin-left: 32px;
}

.spotCardGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.customSpotLocationRatingDiv {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customPrice {
    font-weight: 600;
    margin-bottom: 10px;
}

.customPerNight {
    margin-left: 5px;
    margin-bottom: 10px;
}

.updateDeleteButtonsDiv {
    margin-top: 50px;
}

.DeleteButton {
    margin-top: 10px;
}
