.hidden {
    display: none;
}

.navbarMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #CCCCCC;
}

.homeLogo {
    background: linear-gradient(to right, rgb(110, 20, 133), rgb(0, 0, 255));
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 40px;
    margin-left: 40px;
}

button {
    cursor: pointer;
}

.createAndSession {
    display: flex;
}

.createSpot {
    margin-right: 60px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(28, 50, 146);
    /* background: linear-gradient(to right, rgb(110, 20, 133), rgb(0, 0, 255));
    -webkit-background-clip: text; */
    background-clip: text;
}

/* .createSpot {
    text-decoration: none;
} */
